<div class="containe">
    <div class="circle move1" (click)="MakeChangeevent(data1.id)" #data1 id="1">
    </div>
    <div class="circle move2" (click)="MakeChangeevent(data2.id)" #data2 id="2">

    </div>
    <div class="circle move3" (click)="MakeChangeevent(data3.id)" #data3 id="3">

    </div>
    <div class="circle move4" (click)="MakeChangeevent(data4.id)" #data4 id="4">

    </div>
    <div class="circle move5" (click)="MakeChangeevent(data5.id)" #data5 id="5">

    </div>


    <div class="circle move6" (click)="MakeChangeevent(data6.id)" #data6 id="6">

    </div>
    <div class="circle move7" (click)="MakeChangeevent(data7.id)" #data7 id="7">

    </div>


    <div class="circle move8" (click)="MakeChangeevent(data8.id)" #data8 id="8">

    </div>
    <div class="circle move9" (click)="MakeChangeevent(data9.id)" #data9 id="9">

    </div>
    <div class="circle move10" (click)="MakeChangeevent(data10.id)" #data10 id="10">

    </div>
    <div class="circle move11" (click)="MakeChangeevent(data11.id)" #data11 id="11">

    </div>

    <div class="circle move12" (click)="MakeChangeevent(data12.id)" #data12 id="12">

    </div>
    <div class="circle move13" (click)="MakeChangeevent(data13.id)" #data13 id="13">

    </div>

    <div class="circle move14" (click)="MakeChangeevent(data14.id)" #data14 id="14">

    </div>
    <div class="circle move15" (click)="MakeChangeevent(data15.id)" #data15 id="15">

    </div>
</div>