@import "./../../../assets/style/Index.scss";
.move1 {
    margin: 0.5em auto auto auto;
}

.move2 {
    position: $Positioncircle;
    left: 25em;
}

.move3 {
    position: $Positioncircle;
    right: 25em;
}

.move5 {
    top: 22em;
    position: $Positioncircle;
    left: 50em;
}

.move4 {
    top: 22em;
    position: $Positioncircle;
    right: 15em;
}

.move7 {
    top: 32em;
    position: $Positioncircle;
    right: 5em;
}

.move6 {
    top: 32em;
    position: $Positioncircle;
    left: 65em;
}

.move7 {
    top: 32em;
    position: $Positioncircle;
    right: 5em;
}

.move6 {
    top: 32em;
    position: $Positioncircle;
    left: 65em;
}

.move8 {
    top: 32em;
    position: $Positioncircle;
    right: 31em;
}

.move9 {
    top: 32em;
    position: $Positioncircle;
    left: 45em;
}

/////////////@at-root
.move10 {
    top: 22em;
    position: $Positioncircle;
    left: 10em;
}

.move11 {
    top: 22em;
    position: $Positioncircle;
    right: 53em;
}

.move12 {
    top: 32em;
    position: $Positioncircle;
    left: 1em;
}

.move13 {
    top: 32em;
    position: $Positioncircle;
    right: 70em;
}

.move14 {
    top: 32em;
    position: $Positioncircle;
    left: 27em;
}

.move15 {
    top: 32em;
    position: $Positioncircle;
    right: 50em;
}